.container-fluid.blue-bar.blue-bar-bot
	.row
		.container
			.row
				.col-xs-12.col-sm-12.col-md-3.col-lg-2
					p.domain.domain-bot
						|SIHN UP YOUR<br />
						|<span>NEWSLETTER</span>
				.input-padding-bot.col-xs-12.col-sm-9.col-md-6.col-lg-8
					form
						input.blue-bar-input-bot(type="text" placeholder="Enter your domain name")
				.signup-padding-bot.col-xs-12.col-sm-3.col-md-3.col-lg-2
					button(type="submit").blue-bar-search-bot SIGN UP NOW
footer
	.container
		.row
			.col-xs-12.col-sm-12.col-md-3.col-lg-3.logotype-footer
				.padding
					img(src="img/FooterCloud.png")
					a(href="http://www.cssauthor.com")
						p
							|www.Cssauthor.com<br />
							|2015 © Allright Reserved
			.col-xs-12.col-sm-5.col-md-4.col-lg-4.quick-links
				.padding
					h5 QUICK LINKS
					.quick-links-ul
						ul
							li 
								a(href="index.html") Home
							li
								a(href="#") About Us
							li
								a(href="#") Service
							li
								a(href="#") Hosting plans
							li
								a(href="#") Domain
							li
								a(href="#") Faq
							li
								a(href="#") Blog
							li
								a(href="#") Support
							li
								a(href="#") Contact
			.col-xs-12.col-sm-4.col-md-3.col-lg-3.contact-us
				.padding
					h5 CONTACT US
					ul
						li
							p <span>Address : </span>9867 lipsum text here
						li
							p There are many variation
						li
							p <span>Email : </span>info@hosting.com
						li
							p <span>Call : </span>+87 7765 557 888
			.col-xs-12.col-.col-sm-3.col-md-2.col-lg-2.social-media
				.padding
					h5 SOCIAL MEDIA
					ul
						li
							a(href="#")
								i(class="fa fa-facebook")
						li
							a.social-media-indent(href="#")
								i(class="fa fa-twitter") 
						li
							a.social-media-indent(href="#")
								i(class="fa fa-linkedin") 
						li
							a.social-media-indent(href="#")
								i(class="fa fa-google-plus")