header.container
	.upper-bar.raw
		a.logotype(href="#").col-xs-12.col-sm-3.col-md-3.col-lg-3
			img(src="img/Cloud(1).png")
		ul.contacts.col-xs-12.col-sm-9.col-md-9.col-lg-9
			li
				p <span>Support</span> :info@webhosting.com
			li
				a(href="#")
					p Register
			li
				a(href="#")
					p Login
	nav.nav.default-navbar
		.container-fluid
			button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			.navbar-collapse.collapse#menu
				ul.menu.nav.navbar-nav
					li
						a(href="index.html") HOME
					li
						a(href="#") ABOUT US
					li
						a(href="#") SERVICE
					li
						a(href="#") HOSTING PLANS
					li.hidden-sm
						a(href="#") DOMAIN
					li
						a(href="#") FAQ
					li.hidden-sm
						a(href="#") TESTIMONIALS
					li.hidden-md.hidden-sm
						a(href="#") BLOG
					li
						a(href="#") SUPPORT
					li.hidden-md.hidden-sm
						a(href="#") CONTACT US