include untils/head
body
	include untils/header
	.container.slide-bar
		.row
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.sliders
							.slider
								a(href="#")
									img(src="img/meadow-tree.jpg")
								p
									|AWESOME HOSTING<br />
									|<span>WITH ULTIMIAE FEATURES</span>
							.slider
								a(href="#")
									img(src="img/lincoln-road.png")
								p
									|AWESOME HOSTING
									|<span>WITH AMAZING FEATURES</span>
						a.left-arrow(href="#")
							<i class="fa fa-chevron-left"></i>
						a.right-arrow(href="#")
							<i class="fa fa-chevron-right"></i>
	.blue-bar
		.container
			.row
				.col-xs-12.col-sm-12.col-md-2.col-lg-2
					p.domain 
						|SEARCH YOUR<br />
						|<span>DOMAIN</span>
				form
					.col-xs-12.col-sm-6.col-md-6.col-lg-5
							input.blue-bar-input(type="text" placeholder="Enter your domain name")
					.col-xs-12.col-sm-6.col-md-4.col-lg-3
						select(class="selectpicker")
							option 0 year
							option 1 year
						select(class="selectpicker")
							option lorem.com
							option ipsum.com
					.col-xs-12.col-sm-12.col-md-12.col-lg-2
						button.blue-bar-search(type="button" value="")
							|SEARCH
	.main-information.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.benefits-logotype 
					|OUR<br />
					|<span>BENEFITS</span>	
		.row
			.benefits-blocks.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src="img/roundAnd3Stick.png")
				.benefits-blocks-text
					h3 99% UPTIME
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida convallis posuere. Aenean dapibus condimentum scelerisque. Sed laoreet sem at.
			.benefits-blocks.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src="img/thought's_cloud.png")
				.benefits-blocks-text
					h3 24/7/365 SUPPORT
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida convallis posuere. Aenean dapibus condimentum scelerisque. Sed laoreet sem at.
			.benefits-blocks.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src="img/laptop.png")
				.benefits-blocks-text
					h3 PROTECT YOUR PC
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida convallis posuere. Aenean dapibus condimentum scelerisque. Sed laoreet sem at.
			.benefits-blocks.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src="img/Gear.png")
				.benefits-blocks-text
					h3 DNS CONTROL
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida convallis posuere. Aenean dapibus condimentum scelerisque. Sed laoreet sem at.
			.benefits-blocks.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src="img/Envelop.png")
				.benefits-blocks-text
					h3 DOMAIN TRANSFER
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida convallis posuere. Aenean dapibus condimentum scelerisque. Sed laoreet sem at.
			.benefits-blocks.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src="img/Lock.png")
				.benefits-blocks-text
					h3 100% SECURITY
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida convallis posuere. Aenean dapibus condimentum scelerisque. Sed laoreet sem at.
	.pinkish-background
		.container
			.row
				.col-xs-12.sales.col-sm-12.col-md-5.col-lg-4
					p.what-is-hot
						|NOW<br />
						|<span>WHAT IS HOT</span>
					.sales-frame-background
						.sales-frame
							img(src="img/sales.png")
							img(src="img/eachHosting.png")
				.col-xs-12.col-sm-8.col-md-7.col-lg-6
					p.features-head
						|OUR<br />
						|<span>FEATURES</span>
					.features-list
						ul
							li <span class="fa fa-chevron-right"></span>Start with Lorem
							li <span class="fa fa-chevron-right"></span>In efficitur posuere quam
							li <span class="fa fa-chevron-right"></span>Curabitur varius
							li <span class="fa fa-chevron-right"></span>Cras at porttitor quam
							li <span class="fa fa-chevron-right"></span>Vivamus sed fermentum ex
							li <span class="fa fa-chevron-right"></span>Aliquam dolor tortor
							li <span class="fa fa-chevron-right"></span>Duis in felis molestie
							li <span class="fa fa-chevron-right"></span>Donec eget nulla 
				.col-xs-12.col-sm-4.col-md-12.col-lg-2
					a(href="#").view-all VIEW ALL
	.main-information.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.our-hosting
					|OUR<br />
					|<span>HOSTING</span>
		.row
			.price.col-xs-12.col-sm-6.col-md-3.col-lg-3
				.price-border
					p
						|$<b>5</b><br />
						|<span>PER MONTH</span>
					a.plan(href="#") STANDARD PLAN
					ul
						li 10GB Disk Space
						li 1TB Bandwidth
						li Free DDoS Protection
						li Free Daily Backups
						li Managed Hosting
					form
						button.signup(type="submit") SIGN UP
			.price.col-xs-12.col-sm-6.col-md-3.col-lg-3
				.price-border
					p
						|$<b>6</b><br />
						|<span>PER MONTH</span>
					a.plan(href="#") ADVANCED PLAN
					ul
						li 10GB Disk Space
						li 1TB Bandwidth
						li Free DDoS Protection
						li Free Daily Backups
						li Managed Hosting
					form
						button.signup(type="submit") SIGN UP
			.price.col-xs-12.col-sm-6.col-md-3.col-lg-3
				.price-border
					p
						|$<b>8</b><br />
						|<span>PER MONTH</span>
					a.plan(href="#") BUSINESS PLAN
					ul
						li 10GB Disk Space
						li 1TB Bandwidth
						li Free DDoS Protection
						li Free Daily Backups
						li Managed Hosting
					form
						button.signup(type="submit") SIGN UP
			.price.col-xs-12.col-sm-6.col-md-3.col-lg-3
				.price-border
					p
						|$<b>9</b><br />
						|<span>PER MONTH</span>
					a.plan(href="#") GOLD PLAN
					ul
						li 10GB Disk Space
						li 1TB Bandwidth
						li Free DDoS Protection
						li Free Daily Backups
						li Managed Hosting
					form
						button.signup(type="submit") SIGN UP
	include untils/footer
