@font-face
	font-family OpenSans-Regular
	src url(../library/Fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype')
	
@font-face
	font-family OpenSans-Bold
	src url(../library/Fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype')

@font-face
	font-family OpenSans-Light
	src url(../library/Fonts/Open_Sans/OpenSans-Light.ttf) format('truetype')
	
@font-face
	font-family OpenSans-Semibold
	src url(../library/Fonts/Open_Sans/OpenSans-Semibold.ttf) format('truetype')

@font-face
	font-family OpenSans-ExtraBold
	src url(../library/Fonts/Open_Sans/OpenSans-ExtraBold.ttf) format('truetype')
	
@font-face
	font-family OpenSans-Light
	src url(../library/Fonts/Open_Sans/OpenSans-Light.ttf) format('truetype')

@font-face
	font-family slick
	src url(../library/slick-master/slick-master/slick/fonts/slick.ttf) format('truetype')
	
@font-face
	font-family FontAwesome
	src url(../library/font-awesome-4.3.0/fonts/fontawesome-webfont.ttf) format('truetype')